/*
-----------
  Size & Spacing
-----------
*/
.header-h {
  height: var(--header-h);
}

/*
-----------
Colors
-----------
*/
/* backgrounds */

.bg-surface-1 {
  background-color: var(--surface-1);
}

.bg-surface-sunk {
  background-color: var(--surface-sunk);
}


.text-fg1 {
  color: var(--fg1);
}

/* Borders */

.border-soft {
  border-color: var(--border-soft);
}