/*
-----------
  Size & Spacing
-----------
*/
.header-h {
  height: var(--header-h);
}

/*
-----------
Colors
-----------
*/
/* backgrounds */

.bg-surface-1 {
  background-color: var(--surface-1);
}

/* Borders */

.border-soft {
  border-color: var(--border-soft);
}